@charset "UTF-8";
/**
*    ___                     _____                             
*   |_  |                   |_   _|                            
*     | |_   _  __ _ _ __     | | ___  _ __   __ _ _ __   __ _ 
*     | | | | |/ _` | '_ \    | |/ _ \| '_ \ / _` | '_ \ / _` |
* /\__/ / |_| | (_| | | | |   | | (_) | | | | (_| | | | | (_| |
* \____/ \__,_|\__,_|_| |_|   \_/\___/|_| |_|\__,_|_| |_|\__, |
*                                                         __/ |
*                                                        |___/ 
**/
/*  GENERAL
/* ------------------------------------ */
body, html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #808080;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

a {
  transition: all 350ms ease;
}
a:hover, a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 46px;
}

.text-intro {
  position: relative;
  margin: -30px auto 60px;
  text-align: center;
  max-width: 750px;
  font-size: 18px;
}

.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.aligncenter {
  float: none;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.border-full {
  border: 1px solid #f0f0f0;
}

/*  HELPER
/* ------------------------------------ */
.cb {
  clear: both;
}

.space15 {
  width: 100%;
  height: 15px;
}

.space30 {
  width: 100%;
  height: 30px;
}

.bg-green {
  background-color: #12474d;
}

.bg-white-tiny {
  background-color: #fafafa;
}

.bg-white .page-section h2,
.bg-white-tiny .page-section h2 {
  color: #656262 !important;
}
.bg-white .page-section .subtitle,
.bg-white-tiny .page-section .subtitle {
  color: #808080 !important;
}

.bg-noise {
  position: relative;
  background-image: url("../images/noise.png");
  background-position: 0 0;
}
.bg-noise .page-section h2 {
  color: #656262 !important;
}
.bg-noise .page-section .subtitle {
  color: #808080 !important;
}

/*  ELEMENTS
/* ------------------------------------ */
.btn {
  display: inline-block;
  padding: 8px 26px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  border-radius: 0;
  letter-spacing: 1px;
}

.btn-line {
  border: 1px solid transparent;
  background-color: transparent;
}

.btn-line-white {
  border-color: white;
  color: white;
}
.btn-line-white:hover, .btn-line-white:focus {
  background-color: white;
  color: #333;
}

.btn-line-blue {
  border-color: #3dc7db;
  color: #3dc7db;
}
.btn-line-blue:hover, .btn-line-blue:focus {
  background-color: #3dc7db;
  color: white;
}

.btn-s {
  padding: 4px 32px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="search"],
textarea {
  width: 100%;
  border: 1px solid #4c4c4c;
  background: white;
  padding: .5em 1em;
}

textarea {
  resize: vertical;
}

/*  FORM
/* ------------------------------------ */
.form-search {
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  min-width: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
.form-search input[type="text"] {
  border: 1px solid #999999;
}

/*  SITE-HEADER
/* ------------------------------------ */
.header-line {
  width: 100%;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.site-header {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.top-header {
  background-color: #656262;
  height: 30px;
  line-height: 30px;
  color: white;
}
.top-header p {
  margin: 0;
  line-height: 30px;
}

.top-info {
  float: left;
  max-width: 650px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.top-info a {
  color: #3dc7db;
}
.top-info a:hover, .top-info a:focus {
  color: #cccccc;
}

.top-socmed {
  float: right;
}
.top-socmed ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.top-socmed li {
  display: inline-block;
}
.top-socmed a {
  display: block;
  font-size: 18px;
  color: white;
  margin-left: 15px;
}
.top-socmed a:hover, .top-socmed a:focus {
  color: #cccccc;
}

.bottom-header {
  padding: 15px 0 0;
}

.logo {
  float: left;
}

.main-navigation {
  float: right;
  font-size: 16px;
  font-weight: 300;
  margin-top: 35px;
}
.main-navigation .box-search-container {
  float: right;
  position: relative;
}
.main-navigation ul {
  float: left;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.main-navigation ul li {
  display: inline-block;
}
.main-navigation ul li:hover > a:before, .main-navigation ul li:focus > a:before, .main-navigation ul li.active > a:before {
  background-color: white;
}
.main-navigation ul li > a {
  display: block;
  text-transform: uppercase;
  position: relative;
  margin: 0 20px;
  padding: 0;
  color: white;
}
.main-navigation ul li > a:before {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: transparent;
  transition: background 350ms ease, transform 350ms ease;
}

.box-search {
  float: right;
  height: 30px;
  width: 30px;
  line-height: 30px;
  color: white;
  text-align: center;
  border: 1px solid white;
  font-size: 16px;
  margin-top: -5px;
  margin-left: 30px;
  color: white;
}
.box-search:hover, .box-search:focus {
  color: white;
}
.box-search i {
  transition: all 350ms ease;
}

/*  SITE-MAIN
/* ------------------------------------ */
.page-content {
  position: relative;
}

.nav-content {
  margin: 0;
  padding: 0;
  background-color: #4d4a4a;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.nav-content ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.nav-content li {
  display: inline-block;
}
.nav-content li:hover a, .nav-content li:focus a, .nav-content li.active a {
  color: #cccccc;
  background-color: #333;
}
.nav-content li:first-child {
  margin-left: 0;
}
.nav-content li a {
  margin-left: -5px;
}
.nav-content a {
  color: #656262;
  display: block;
  padding: 15px 30px;
}

/*  SITE-FOOTER
/* ------------------------------------ */
.site-footer {
  background-color: #333;
  padding: 30px 0;
}

.top-footer {
  padding-bottom: 30px;
  border-bottom: 1px solid #4c4c4c;
}

.bottom-footer {
  padding-top: 30px;
}

.logo-footer {
  float: left;
}

.socmed-footer {
  float: right;
  margin-top: 30px;
}
.socmed-footer ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.socmed-footer li {
  display: inline-block;
}
.socmed-footer a {
  display: block;
  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #cccccc;
  margin-left: 5px;
  font-size: 16px;
}
.socmed-footer a:hover, .socmed-footer a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.copyright {
  float: left;
  color: #666666;
  font-weight: 500;
}
.copyright a {
  color: #666666;
}
.copyright a:hover, .copyright a:focus {
  color: #cccccc;
}

.nav-footer {
  float: right;
  font-weight: 500;
}
.nav-footer ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.nav-footer li {
  display: inline-block;
}
.nav-footer li:first-child a:after {
  background-color: transparent;
}
.nav-footer a {
  display: block;
  position: relative;
  color: #666666;
  text-transform: capitalize;
  color: #666666;
  margin-left: 10px;
}
.nav-footer a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: -8px;
  height: 70%;
  width: 2px;
  background-color: #666666;
}
.nav-footer a:hover, .nav-footer a:focus {
  color: #cccccc;
}

/*  SECTION
/* ------------------------------------ */
.section-box {
  padding: 60px 0 30px;
}

.page-section {
  text-align: center;
  color: #e6e6e6;
  padding-bottom: 15px;
  margin-bottom: 60px;
  position: relative;
}
.page-section:before {
  content: "";
  position: absolute;
  top: 100%;
  width: 45px;
  height: 1px;
  background-color: #3dc7db;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.page-section h2, .page-section .subtitle {
  margin-bottom: 15px;
}
.page-section h2 {
  margin-top: 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1;
}
.page-section .subtitle {
  font-size: 18px;
  text-transform: capitalize;
}

.section-banner {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 18% 0 8%;
  text-align: center;
}
.section-banner.banner-two {
  padding: 15% 0 5%;
}
.section-banner.banner-two .title-banner {
  margin-bottom: 15px;
}
.section-banner.banner-two p {
  font-size: 18px;
}
.section-banner.banner-two .title-banner,
.section-banner.banner-two p {
  max-width: 950px;
}
.section-banner .mask-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.section-banner .container {
  position: relative;
}
.section-banner .title-banner,
.section-banner p {
  max-width: 750px;
  margin: 0 auto;
  color: white;
}
.section-banner .title-banner {
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1;
  font-size: 42px;
}
.section-banner .subtitle-banner {
  font-size: 21px;
  color: #e6e6e6;
}

.item-phase {
  position: relative;
  margin-bottom: 30px;
}
.item-phase:hover .caption, .item-phase:focus .caption {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=ΓÇ¥ $value * 100 ΓÇ£)";
  filter: alpha(opacity=100);
  zoom: 1;
}
.item-phase .subitem-phase {
  position: relative;
}
.item-phase img {
  position: relative;
}
.item-phase .caption {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(61, 199, 219, 0.7);
  z-index: 1;
  transition: opacity 350ms ease-out, transform 350ms ease-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=ΓÇ¥ $value * 100 ΓÇ£)";
  filter: alpha(opacity=0);
  zoom: 1;
}
.item-phase .subcaption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100px;
  width: 100%;
}
.item-phase .subcaption h4 {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
  font-size: 21px;
  font-weight: normal;
}

.item-health {
  position: relative;
  margin-bottom: 45px;
}
.item-health figure a {
  display: block;
  background-color: #3dc7db;
}
.item-health figure a:hover img, .item-health figure a:focus img {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=ΓÇ¥ $value * 100 ΓÇ£)";
  filter: alpha(opacity=40);
  zoom: 1;
}
.item-health figure img {
  transition: opacity 350ms ease-out, transform 350ms ease-out;
}
.item-health .desc-health {
  margin-left: 200px;
}
.item-health .desc-health h4 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #808080;
  font-size: 23px;
}
.item-health .desc-health a {
  color: #808080;
}
.item-health .desc-health a:hover, .item-health .desc-health a:focus {
  color: #3dc7db;
}
.item-health .desc-health p {
  font-size: 18px;
}
.item-health .desc-health .more {
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  display: block;
}
.item-health .desc-health .more:hover, .item-health .desc-health .more:focus {
  color: #666666;
}

.patients-carousel .owl-controls,
.medical-carousel .owl-controls {
  position: absolute;
  width: 100%;
  top: 40%;
}
.patients-carousel .owl-nav,
.medical-carousel .owl-nav {
  position: absolute;
  width: 100%;
}
.patients-carousel .owl-prev,
.patients-carousel .owl-next,
.medical-carousel .owl-prev,
.medical-carousel .owl-next {
  color: #656262;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  line-height: 42px;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  line-height: 48px;
  border: 1px solid #a5a2a2;
  color: #656262;
  position: absolute;
  transition: all 350ms ease-out;
  background-color: white;
}
.patients-carousel .owl-prev:hover, .patients-carousel .owl-prev:focus,
.patients-carousel .owl-next:hover,
.patients-carousel .owl-next:focus,
.medical-carousel .owl-prev:hover,
.medical-carousel .owl-prev:focus,
.medical-carousel .owl-next:hover,
.medical-carousel .owl-next:focus {
  color: #3dc7db;
}
.patients-carousel .owl-prev,
.medical-carousel .owl-prev {
  left: -60px;
}
.patients-carousel .owl-next,
.medical-carousel .owl-next {
  right: -60px;
}

.item-patients {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.item-patients .subitem-patients {
  background-color: white;
  padding-bottom: 30px;
}
.item-patients figure a {
  display: block;
  background-color: #3dc7db;
}
.item-patients figure a:hover img, .item-patients figure a:focus img {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=ΓÇ¥ $value * 100 ΓÇ£)";
  filter: alpha(opacity=40);
  zoom: 1;
}
.item-patients figure img {
  transition: opacity 350ms ease-out, transform 350ms ease-out;
}
.item-patients h4, .item-patients p {
  padding-left: 15px;
  padding-right: 15px;
}
.item-patients header {
  margin: 15px 0;
}
.item-patients header h4 {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.3;
  color: #656262;
}
.item-patients header a {
  color: #656262;
}
.item-patients header a:hover, .item-patients header a:focus {
  color: #3dc7db;
}
.item-patients p {
  font-size: 17px;
  color: #808080;
}
.item-patients .meta-patients {
  text-transform: uppercase;
  margin: 0;
  color: #3dc7db;
  font-size: 13px;
}
.item-patients .meta-patients a {
  color: #3dc7db;
}
.item-patients .meta-patients a:hover, .item-patients .meta-patients a:focus {
  color: #656262;
}

/*  WIDGET
/* ------------------------------------ */
/*  RWD-SIDEBAR
/* ------------------------------------ */
.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.wrapper .wrapper-inner {
  transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
  position: relative;
  width: 100%;
  display: block;
  margin-right: 0;
}
.wrapper .mask-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: -1;
  opacity: 0;
  transition: all 350ms ease;
}
.wrapper .on-active {
  margin-right: -40%;
  float: right;
}
.wrapper .on-active .mask-wrapper {
  opacity: 1;
  z-index: 11;
}
@media (max-width: 570px) {
  .wrapper .on-active {
    margin-right: -60%;
  }
}

.nav-rwd-sidebar {
  width: 40%;
  z-index: 999;
  background-color: #656262;
  position: fixed;
  height: 100%;
  transition: all 500ms ease;
  padding: 15px 0 30px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media (max-width: 570px) {
  .nav-rwd-sidebar {
    width: 60%;
  }
}
.nav-rwd-sidebar .nav-sidebar {
  margin-top: 50px;
}
.nav-rwd-sidebar .btn-hide {
  color: white;
}
.nav-rwd-sidebar .btn-hide:hover, .nav-rwd-sidebar .btn-hide:focus {
  color: #e6e6e6;
}
.nav-rwd-sidebar ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  max-height: 660px;
  overflow-y: scroll;
}
.nav-rwd-sidebar ul li a, .nav-rwd-sidebar ul li span {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px 15px;
  display: block;
  font-weight: 600;
}
.nav-rwd-sidebar ul li a:hover, .nav-rwd-sidebar ul li a:focus {
  background: #28c1d7;
}

.nav-rwd-sidebar {
  margin-left: -40%;
}
.nav-rwd-sidebar .btn-hide {
  margin-left: 30px;
}
@media (max-width: 570px) {
  .nav-rwd-sidebar {
    margin-left: -60%;
  }
}
.nav-rwd-sidebar.rwd-sidebar-active {
  margin-left: 0;
}
.nav-rwd-sidebar ul li a, .nav-rwd-sidebar ul li span {
  padding-left: 30px;
}

.nav-sidebar-right {
  margin-right: -40%;
  right: 0;
  text-align: right;
}
@media (max-width: 570px) {
  .nav-sidebar-right {
    margin-right: -60%;
  }
}
.nav-sidebar-right .btn-hide {
  margin-right: 30px;
}
.nav-sidebar-right.on-active {
  margin-right: 0;
}
.nav-sidebar-right ul li a, .nav-sidebar-right ul li span {
  padding-right: 30px;
}

.rwd-box-search .box-search-container .box-search,
.btn-show,
.btn-hide {
  display: none;
  float: right;
  color: white;
  border: 1px solid white;
  height: 42px;
  width: 42px;
  line-height: 40px;
  text-align: center;
  font-size: 21px;
  margin-top: 20px;
}
.rwd-box-search .box-search-container .box-search:hover, .rwd-box-search .box-search-container .box-search:focus,
.btn-show:hover,
.btn-show:focus,
.btn-hide:hover,
.btn-hide:focus {
  border-color: #e6e6e6;
  color: #e6e6e6;
}

.btn-hide {
  display: block;
  float: none;
}

.rwd-box-search .box-search-container {
  display: none;
}
.rwd-box-search .box-search-container .form-search {
  right: 15px;
  top: 90%;
}

/*  MEDIA-QUERIES
/* ------------------------------------ */
@media (max-width: 1200px) {
  .patients-carousel .owl-next,
  .medical-carousel .owl-next {
    right: 10px;
  }
  .patients-carousel .owl-prev,
  .medical-carousel .owl-prev {
    left: 10px;
  }
}
@media (max-width: 995px) {
  .item-phase {
    float: left;
    width: 33.33333%;
  }
  .item-phase .subcaption {
    height: 70px;
  }
  .item-phase .subcaption h4 {
    font-size: 16px;
  }

  .section-banner.banner-two {
    padding-top: 20%;
  }
}
@media (max-width: 767px) {
  .for-search {
    right: 15px;
    top: 100%;
  }

  .section-banner.banner-two {
    padding-top: 25%;
  }

  .page-section h2 {
    line-height: 1.4;
  }

  .rwd-box-search .box-search-container {
    display: block;
  }

  .rwd-box-search .box-search {
    margin-left: 15px;
    display: block;
  }

  .rwd-box-search .box-search-container .box-search,
  .btn-show, .btn-hide {
    display: block;
  }

  .top-header {
    height: auto;
    line-height: inherit;
    padding: 15px 0;
    text-align: center;
  }
  .top-header p {
    line-height: inherit;
  }

  .top-info {
    float: none;
    max-width: auto;
    white-space: normal;
    text-overflow: inherit;
    overflow: visible;
  }

  .top-socmed {
    float: none;
    margin-top: 5px;
  }

  .main-navigation {
    display: none;
  }

  .section-banner {
    padding-top: 30%;
  }
}
@media (max-width: 690px) {
  .section-banner.banner-two {
    padding-top: 35%;
  }

  .page-section {
    margin-bottom: 40px;
  }
  .page-section h2 {
    font-size: 28px;
  }
  .page-section .subtitle {
    font-size: 16px;
  }

  .section-banner {
    padding-top: 35%;
  }
  .section-banner .title-banner {
    margin-bottom: 15px;
    font-size: 32px;
  }
  .section-banner .subtitle-banner {
    font-size: 18px;
  }
}
@media (max-width: 570px) {
  .nav-content li {
    display: block;
  }

  .socmed-footer {
    float: left;
  }
  .socmed-footer li:first-child a {
    margin-left: 0;
  }

  .nav-footer {
    float: left;
  }
  .nav-footer li:first-child a {
    margin-left: 0;
  }

  .page-section h2 {
    font-size: 24px;
  }

  .section-banner .title-banner {
    margin-top: 70px;
  }

  .item-phase {
    float: left;
    width: 100%;
  }
  .item-phase .subcaption {
    height: 100px;
  }
  .item-phase .subcaption h4 {
    font-size: 18px;
  }

  .item-health .desc-health h4 {
    font-size: 18px;
  }
  .item-health .desc-health p {
    font-size: 14px;
  }
  .item-health .desc-health .more {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .section-banner .title-banner {
    margin-top: 100px;
  }
}

/*# sourceMappingURL=app-unprefixed.css.map */
