@media (max-width: 1200px) {
}
@media (max-width: 995px) {
}
@media (max-width: 950px) {    
}
@media (max-width: 767px) {
}
@media (max-width: 690px) {
}
@media (max-width: 570px) {
}
@media (max-width: 480px) {
}