// VARIABLES
$black: #333;
$black-light: #656262;
$black-light-super: #4d4a4a;
$blue-sky: #3dc7db;	
$green: #12474d;
$white-tiny: darken( white, 10% );
$white: #fafafa;

$title-heading: #666666;
$subtitle-heading: #979999;
$text: #808080;
$text-light: #999999;
$text-footer: $title-heading;

$socmed-footer: #cccccc;
$stroke: #4c4c4c;
$border: rgba( white, .2 );

$roboto: 'Roboto', sans-serif;


// PARAMETRIC-MIXIN
@mixin selection(){
	::selection{}
	::-moz-selection{}
}
@mixin opacity ( $value: 0.5 ) {
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
	filter: alpha(opacity= $value * 100 );
	zoom: 1;
}
@mixin antialias {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}
@mixin resetlist{
	list-style: none outside none;
	padding: 0;
	margin: 0;
}
@mixin circle( $size: 35px ){
	text-align: center;
	display: inline-block;
	line-height: $size;
	height: $size;
	width: $size;
	border-radius: 50%;
}
@mixin placeholder(){
	::-webkit-input-placeholder {
		font-size: 11px;
		text-transform: uppercase;
	}
	:-moz-placeholder { /* Firefox 18- */
		font-size: 11px;
		text-transform: uppercase;
	}
	::-moz-placeholder {  /* Firefox 19+ */
		font-size: 11px;
		text-transform: uppercase;
	}
	:-ms-input-placeholder {  
		font-size: 11px;
		text-transform: uppercase;
	}
}
@mixin bordradius( $value: 12px ){
	border-radius: $value;
}