/**
*    ___                     _____                             
*   |_  |                   |_   _|                            
*     | |_   _  __ _ _ __     | | ___  _ __   __ _ _ __   __ _ 
*     | | | | |/ _` | '_ \    | |/ _ \| '_ \ / _` | '_ \ / _` |
* /\__/ / |_| | (_| | | | |   | | (_) | | | | (_| | | | | (_| |
* \____/ \__,_|\__,_|_| |_|   \_/\___/|_| |_|\__,_|_| |_|\__, |
*                                                         __/ |
*                                                        |___/ 
**/

// VARIABLES & PARAMETRIC-MIXIN
@import "variablesparametricmixin";


/*  GENERAL
/* ------------------------------------ */
body, html{
	height: 100%;
}
body{
	font-family: $roboto;
	font-size: 14px;
	color: $text;
	@include antialias;
}

a{
	transition: all 350ms ease;
	&:hover,
	&:focus{
		outline: none;
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}
h1{}
h2{
	font-size: 46px;
}
h3{}
h4{}
h5{}
h6{}

.text-intro{
	position: relative;
	margin: -30px auto 60px;
	text-align: center;
	max-width: 750px;
	font-size: 18px;
}
// PRELOADER


.alignleft{
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.alignright{
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}
.aligncenter{
	float: none;
	margin: 0 auto;
}

// IMAGES
figure{
	img{

	}
}
img{
	max-width: 100%;
}
iframe{}


// (UN)ORDER-LIST
ul, ol{}
ul{}
ol{
	li{}
}
ol ol li{}

ol ol ol li{}

.fancy-line{ }

.border-full{
	border: 1px solid lighten( $black-light, 55% );
}

/*  HELPER
/* ------------------------------------ */
.cb{
	clear: both;
}
// SPACE
$spacing:
	( space15, 15px),
	( space30, 30px );

@each $class-space, $prop-space in $spacing{
	.#{$class-space}{
		width: 100%;
		height: $prop-space;
	}
}

// BACKGROUND-COLOR
$bgcolor:
	( green, $green ),
	( white-tiny, $white );
@each $namebg, $hexbg in $bgcolor{
	.bg-#{$namebg}{
		background-color: $hexbg;
	}
}

.bg-white,
.bg-white-tiny{
	.page-section{
		h2{
			color: $black-light !important;
		}
		.subtitle{
			color: $text !important;
		}
	}
}

.bg-noise{
	position: relative;
	background-image: url("../images/noise.png");
	background-position: 0 0;
	.page-section{
		h2{
			color: $black-light !important;
		}
		.subtitle{
			color: $text !important;
		}
	}
}
/*  ELEMENTS
/* ------------------------------------ */
// PLACEHOLDER
// BUTTON
.btn{
	display: inline-block;
	padding: 8px 26px;
	border: none;
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	border-radius: 0;
	letter-spacing: 1px;
}
.btn-line{
	border: 1px solid transparent;
	background-color: transparent;
}
.btn-line-white{
	border-color: white;
	color: white;
	&:hover,
	&:focus{
		background-color: white;
		color: $black;
	}
}
.btn-line-blue{
	border-color: $blue-sky;
	color: $blue-sky;
	&:hover,
	&:focus{
		background-color: $blue-sky;
		color: white;
	}
}
.btn-fullwidth{}
.btn-s{
	padding: 4px 32px;
}
.btn-l{}


// FIELDS
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="search"],
textarea{
	width: 100%;
	border: 1px solid $stroke;
	background: white;
	padding: .5em 1em;
}

textarea{
	resize: vertical;
}


/*  FORM
/* ------------------------------------ */
form{
	.fields{}
	.label-field{}
}

.form-search{
	display: none;
	position: absolute;
	right: 0;
	top: 35px;
	min-width: 300px;
	padding: 10px;
	background-color: rgba( white, .4 );
	input[type="text"]{
		border: 1px solid lighten( $stroke, 30% );
	}
}

/*  SITE-HEADER
/* ------------------------------------ */
.header-line{
	width: 100%;
	margin: 0;
	border-top: 1px solid $border;
}
.site-header{
	position: absolute;
	width: 100%;
	z-index: 999;
}
.top-header{
	background-color: $black-light;
	height: 30px;
	line-height: 30px;
	color: white;
	p{
		margin: 0;
		line-height: 30px;
	}
}
.top-info{
	float: left;
	max-width: 650px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	a{
		color: $blue-sky;
		&:hover,
		&:focus{
			color: $socmed-footer;
		}
	}
}
.top-socmed{
	float: right;
	ul{
		@include resetlist;
	}
	li{
		display: inline-block;
	}
	a{
		display: block;
		font-size: 18px;
		color: white;
		margin-left: 15px;
		&:hover,
		&:focus{
			color: $socmed-footer;
		}
	}
}
.bottom-header{
	padding: 15px 0 0;

}
.logo{
	float: left;
}
.main-navigation{
	float: right;
	font-size: 16px;
	font-weight: 300;
	margin-top: 35px;
	.box-search-container{
		float: right;
		position: relative;
	}

	ul{
		float: left;
		@include resetlist;
		li{
			display: inline-block;
			&:hover,
			&:focus,
			&.active{
				>a:before{
					background-color: white;
				}
			}
			>a{
				display: block;
				text-transform: uppercase;
				position: relative;
				margin: 0 20px;
				padding: 0;
				color: white;
				&:before{
					content: "";
					position: absolute;
					bottom: -32px;
					left: 0;
					height: 4px;
					width: 100%;
					background-color: transparent;;
					transition: background 350ms ease, transform 350ms ease;
				}
			}
		}
	}
}

.box-search{
	float: right;
	height: 30px;
	width: 30px;
	line-height: 30px;
	color: white;
	text-align: center;
	border: 1px solid white;
	font-size: 16px;
	margin-top: -5px;
	margin-left: 30px;
	color: white;
	&:hover,
	&:focus{
		color: white;
	}
	i{
		transition: all 350ms ease;
	}
}

/*  SITE-MAIN
/* ------------------------------------ */
.site-main{}
.page-content{
	position: relative;
}
.nav-content{
	margin: 0;
	padding: 0;
	background-color: $black-light-super;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	ul{
		@include resetlist;
	}
	li{
		display: inline-block;
		&:hover,
		&:focus,
		&.active{
			a{
				color: $socmed-footer;
				background-color: $black;
			}
		}
		&:first-child{
			margin-left: 0;
		}
		a{
			margin-left: -5px;
		}
	}
	a{
		color: $black-light;
		display: block;
		padding: 15px 30px;
	}
}
.blog-content{}
.header-content{
	.title-content{}
	.subtitle-content{}
}

/*  SITE-FOOTER
/* ------------------------------------ */
.site-footer{
	background-color: $black;
	padding: 30px 0;
}
.top-footer{
	padding-bottom: 30px;
	border-bottom: 1px solid $stroke;
}
.bottom-footer{
	padding-top: 30px;
}
.logo-footer{
	float: left;
	a{}
	img{}
}
.socmed-footer{
	float: right;
	margin-top: 30px;
	ul{
		@include resetlist();
	}
	li{
		display: inline-block;
	}
	a{
		display: block;
		height: 42px;
		width: 42px;
		line-height: 42px;
		text-align: center;
		border: 2px solid $border;
		color: $socmed-footer;
		margin-left: 5px;
		font-size: 16px;
		&:hover,
		&:focus{
			background-color: $border;
		}
	}
}
.copyright{
	float: left;
	color: $text-footer;
	font-weight: 500;
	a{
		color: $text-footer;
		&:hover,
		&:focus{
			color: $socmed-footer;
		}
	}
}
.nav-footer{
	float: right;
	font-weight: 500;
	ul{
		@include resetlist;
	}
	li{
		display: inline-block;
		&:first-child{
			a:after{
				background-color: transparent;
			}
		}
	}
	a{
		display: block;
		position: relative;
		color: $text-footer;
		text-transform: capitalize;
		color: $text-footer;
		margin-left: 10px;
		&:after{
			content: "";
			position: absolute;
			top: 2px;
			left: -8px;
			height: 70%;
			width: 2px;
			background-color: $text-footer;
		}
		&:hover,
		&:focus{
			color: $socmed-footer;
		}
	}
}
/*  SECTION
/* ------------------------------------ */
.section-box{
	padding: 60px 0 30px;
}
.subsection-box{}
.page-section{
	text-align: center;
	color: $white-tiny;
	padding-bottom: 15px;
	margin-bottom: 60px;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top: 100%;
		width: 45px;
		height: 1px;
		background-color: $blue-sky;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	h2, .subtitle{
		margin-bottom: 15px;
	}
	h2{
		margin-top: 0;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 36px;
		line-height: 1;
	}
	.subtitle{
		font-size: 18px;
		text-transform: capitalize;
	}
}
.section-banner{
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 18% 0 8%;
	text-align: center;
	&.banner-two{
		padding: 15% 0 5%;
		.title-banner{
			margin-bottom: 15px;
		}
		p{
			font-size: 18px;
		}
		.title-banner,
		p{
			max-width: 950px;
		}
	}
	.mask-banner{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( black, .6 );
	}
	.container{
		position: relative;
	}
	.title-banner,
	p{
		max-width: 750px;
		margin: 0 auto;
		color: white;
	}
	.title-banner{
		font-weight: 500;
		margin-bottom: 30px;
		line-height: 1;
		font-size: 42px;
	}
	p{}
	.subtitle-banner{
		font-size: 21px;
		color: $white-tiny;
	}
}
.section-patientadherence{}
.section-medical{}
// SECTION PHASE
.item-phase{
	position: relative;
	margin-bottom: 30px;
	&:hover,
	&:focus{
		.caption{
			@include opacity(1);
		}
	}
	.subitem-phase{
		position: relative;
	}
	img{
		position: relative;
	}
	.caption{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: rgba( $blue-sky, .7 );
		z-index: 1;
		transition: opacity 350ms ease-out, transform 350ms ease-out;
		@include opacity(0);
	}
	.subcaption{
		position: absolute;
		top: 0;
		right:0;
		bottom: 0;
		left: 0;
		margin: auto;
		height: 100px;
		width: 100%;
		h4{
			margin-top: 0;
			margin-bottom: 20px;
			text-transform: uppercase;
			color: white;
			font-size: 21px;
			font-weight: normal;
		}
		a{}
	}
}

// SECTION-HEALTH
.item-health{
	position: relative;
	margin-bottom: 45px;
	.subitem-health{}
	figure{
		a{
			display: block;
			background-color: $blue-sky;
			&:hover,
			&:focus{
				img{
					@include opacity( .4 );
				}
			}
		}
		img{
			transition: opacity 350ms ease-out, transform 350ms ease-out;
		}
	}
	.desc-health{
		margin-left: 200px;
		h4{
			margin-top: 0;
			margin-bottom: 20px;
			color: $text;
			font-size: 23px;
		}
		a{
			color: $text;
			&:hover,
			&:focus{
				color: $blue-sky;
			}
		}
		p{
			font-size: 18px;
		}
		.more{
			color: $text-light;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-top: 20px;
			display: block;
			&:hover,
			&:focus{
				color: $text-footer;
			}
		}
	}
}

// SECTION-PATIENTS
.patients-carousel,	
.medical-carousel{
	.owl-controls{
		position: absolute;
		width: 100%;
		top: 40%;
	}
	.owl-nav{
		position: absolute;
		width: 100%;
	}
	.owl-prev,
	.owl-next{
		color: $black-light;
		font-size: 14px;
		@include circle(42px);
		line-height: 48px;
		border: 1px solid lighten( $black-light, 25% );
		color: $black-light;
		position: absolute;
		transition: all 350ms ease-out;
		background-color: white;
		&:hover,
		&:focus{
			color: $blue-sky;
		}
	}
	.owl-prev{
		left: -60px;
	}
	.owl-next{
		right: -60px;
	}
}

.item-patients{
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	.subitem-patients{
		background-color: white;
		padding-bottom: 30px;
	}
	figure{
		a{
			display: block;
			background-color: $blue-sky;
			&:hover,
			&:focus{
				img{
					@include opacity( .4 );
				}
			}
		}
		img{
			transition: opacity 350ms ease-out, transform 350ms ease-out;
		}
	}
	h4, p{
		padding-left: 15px;
		padding-right: 15px;
	}
	header{
		margin: 15px 0;
		h4{
			margin-top: 0;
			margin-bottom: 15px;
			line-height: 1.3;
			color: $black-light;
		}
		a{
			color: $black-light;
			&:hover,
			&:focus{
				color: $blue-sky;
			}
		}
	}
	p{
		font-size: 17px;
		color: $text;
	}
	.meta-patients{
		text-transform: uppercase;
		margin: 0;
		color: $blue-sky;
		font-size: 13px;
		a{
			color: $blue-sky;
			&:hover,
			&:focus{
				color: $black-light
			}
		}
	}
}


/*  WIDGET
/* ------------------------------------ */
.widget{}
.title-widget{}
.widget-sidebar{}
.widget-footer{}


/*  RWD-SIDEBAR
/* ------------------------------------ */
.wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
	.wrapper-inner{
		transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
		position: relative;
		width: 100%;
		display: block;
		margin-right: 0;
	}
	.mask-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( black, .15 );
		z-index: -1;
		opacity: 0;
		transition: all 350ms ease;
	}
	.on-active{
		margin-right: -40%;
		float: right;
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
		@media (max-width: 570px) {
		    margin-right: -60%;
		}
	}
}

.nav-rwd-sidebar{
	width: 40%;
	z-index: 999;
	background-color: $black-light;
	position: fixed;
	height: 100%;
	transition: all 500ms ease;
	padding: 15px 0 30px;
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
	@media (max-width: 570px) {
	    width: 60%;
	}
	.nav-sidebar{
		margin-top: 50px;
	}
	.btn-hide{
		color: white;
		&:hover,
		&:focus{
			color: $white-tiny;
		}
	}
	ul{
		list-style: none outside none;
		padding: 0;
		margin: 0;
		margin-top: 30px;
		max-height: 660px;
		overflow-y: scroll;
		li{
			a, span{
				// color: $color-text-gray;
				color: white;
				font-size: 13px;
				text-transform: uppercase;
				padding: 10px 15px;
				display: block;
				font-weight: 600;
			}
			a{
				&:hover,
				&:focus{
					background: darken( $blue-sky, 5% );
				}
			}
		}
	}
}

.nav-rwd-sidebar{
	margin-left: -40%;
	.btn-hide{
		margin-left: 30px;
	}
	@media (max-width: 570px) {
	    margin-left: -60%;
	}
	&.rwd-sidebar-active{
		margin-left: 0;
	}
	ul{
		li{
			a, span{
				padding-left: 30px;
			}
		}
	}
}
.nav-sidebar-right{
	margin-right: -40%;
	right: 0;
	text-align: right;
	@media (max-width: 570px) {
	    margin-right: -60%;
	}
	.btn-hide{
		margin-right: 30px;
	}
	&.on-active{
		margin-right: 0;
	}
	ul{
		li{
			a, span{
				padding-right: 30px;
			}
		}
	}
} 

.rwd-box-search .box-search-container .box-search,
.btn-show,
.btn-hide{
	display: none;
	float: right;
	color: white;
	border: 1px solid white;
	height: 42px;
	width: 42px;
	line-height: 40px;
	text-align: center;
	font-size: 21px;
	margin-top: 20px;
	&:hover,
	&:focus{
		border-color: $white-tiny;
		color: $white-tiny;
	}
}

.btn-hide{
	display: block;
	float: none;
}

.rwd-box-search .box-search-container{
	display: none;
	.form-search{
		right: 15px;
		top: 90%;
	}
}

/*  MEDIA-QUERIES
/* ------------------------------------ */
@media (max-width: 1200px) {
	.patients-carousel,
	.medical-carousel{
		.owl-next{
			right: 10px;
		}
		.owl-prev{
			left: 10px;
		}
	}
}
@media (max-width: 995px) {
	.item-phase{
		float: left;
		width: (100% /3 );
		.subcaption{
			height: 70px;
			h4{
				font-size: 16px;
			}
		}
	}
	.section-banner.banner-two{
		padding-top: 20%;
	}
}
@media (max-width: 950px) {    
}
@media (max-width: 767px) {
	.for-search{
		right: 15px;
		top: 100%;
	}
	.section-banner.banner-two{
		padding-top: 25%;
	}
	.page-section{
		h2{
			line-height: 1.4;
		}
	}
	.rwd-box-search .box-search-container{
		display: block;
	}
	.rwd-box-search .box-search{
		margin-left: 15px;
		display: block;
	}
	.rwd-box-search .box-search-container .box-search, 
	.btn-show, .btn-hide{
		display: block;
	}
	.top-header{
		height: auto;
		line-height: inherit;
		padding: 15px 0;
		text-align: center;
		p{
			line-height: inherit;
		}
	}
	.top-info{
		float: none;
		max-width: auto;
		white-space: normal;
		text-overflow: inherit;
		overflow: visible;
	}
	.top-socmed{
		float: none;
		margin-top: 5px;
	}
	.main-navigation{
		display: none;
	}
	.section-banner{
		padding-top: 30%;

	}
}
@media (max-width: 690px) {
	.section-banner.banner-two{
		padding-top: 35%;
	}
	.page-section{
		margin-bottom: 40px;
		h2{
			font-size: 28px;
		}
		.subtitle{
			font-size: 16px;
		}
	}
	.section-banner{
		padding-top: 35%;
		.title-banner{
			margin-bottom: 15px;
			font-size: 32px;
		}
		.subtitle-banner{
			font-size: 18px;
		}
	}
}
@media (max-width: 570px) {
	.nav-content{
		li{
			display: block;
		}
	}
	.socmed-footer{
		float: left;
		li:first-child{
			a{
				margin-left: 0;
			}
		}
	}
	.nav-footer{
		float: left;
		li:first-child{
			a{
				margin-left: 0;
			}
		}
	}
	.page-section{
		h2{
			font-size: 24px;
		}
	}
	.section-banner{
		.title-banner{
			margin-top: 70px;
		}
	}
	.item-phase{
		float: left;
		width: 100%;
		.subcaption{
			height: 100px;
			h4{
				font-size: 18px;
			}
		}
	}
	.item-health{
		.desc-health{
			h4{
				font-size: 18px;
			}
			p{
				font-size: 14px;
			}
			.more{
				font-size: 12px;
			}
		}
	}
}
@media (max-width: 480px) {
	.section-banner{
		.title-banner{
			margin-top: 100px;
		}
	}
}